{:version      {:major 1
                :minor 5
                :patch 0}
 :version-type :semver3
 :changes      {:added      ["`com.wallbrew.spoon.core/submap?` for loose map matching."]
                :changed    []
                :deprecated []
                :removed    []
                :fixed      []
                :security   []}
 :timestamp    "2024-12-13T16:07:31.229722586Z"}
